<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Desc</th>
        <th scope="col">Status</th> 
        <th scope="col">Action</th>        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.notes}}</td>
        <td>{{product.status? 'Còn hàng' : 'Hết hàng'}}</td>
        <td><button class="btn btn-primary " (click)="showDetail(product)">Detail</button>
            <button class="btn btn-primary " (click)="removeitem(product.id)">Delete</button></td>                  
        </tr>
        
    </tbody>
    
  </table>
  <div *ngIf="selected">Chi Tiết Sản Phẩm:<br>
            Id : {{selected.id}},<br>
            Name : {{selected.name}},<br>
            Price: {{selected.price}},<br>
            Desc: {{selected.notes}},<br>
            Status: {{selected.status ? 'Còn Hàng':'Hết Hàng'}}</div>